openapi: 3.1.0
info:
  title: User API
  version: 1.0.0
  description: API for managing users

servers:
  - url: http://localhost:8080

paths:
  /users/{user_id}:
    get:
      summary: Get user by ID
      operationId: getUserById
      parameters:
        - name: user_id
          in: path
          description: ID of the user
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: User found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "404":
          description: User not found

  /auth/register:
    post:
        summary: Register a new user
        operationId: RegisterUser
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                required: [email, name, tag, password]
                properties:
                  email:
                    type: string
                    format: email
                  name:
                    type: string
                  tag:
                    type: string
                  password:
                    type: string
        responses:
            "200":
                description: User registered successfully
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        user:
                          $ref: "#/components/schemas/User"
                        token:
                          $ref: "#/components/schemas/Token"
            "400":
                description: Missing or invalid data
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/ErrorResponse"
            "409":
              description: Email is already registered
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/ErrorResponse"
            "500":
              description: Server error
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/ErrorResponse"









CROW_ROUTE(app_, "/auth/register")
    .methods(crow::HTTPMethod::Post)([this](const crow::request& req, crow::response& res) {
      PROFILE_SCOPE("/auth/register");
      controller_->registerUser(req, res);
      LOG_INFO("Response code: {} | Body: {}", res.code, res.body);
    });

components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        tag:
            type: string
      required:
        - id
        - name
        - email
        - tag
    Token:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string


