openapi: 3.1.0
info:
  title: User API
  version: 1.0.0
  description: API for message management

servers:
  - url: http://localhost:8083

paths:

/messages/<chat_id>:
    post:
        summary: Returned all messages of chat
        operationId: createPrivateChat
        parameters:
          - name: limit
            in: query
            description: Limit of returned array
            required: false
            schema:
              type: integer
              default: INT_MAX
          - name: before_id
            in: query
            description: Starting point to return messages
            required: false
            schema:
              type: integer
              default: 0
          -name: chat_id
            in: query
            description: Id of the chat
            required: true
            schema:
              type: integer

        responses:
            "200":
            description: Returned messages of chat without errors
            content:
              application/json:
                schema:
                  type: array
                  item:
                    message:
                      $ref: "#/components/schemas/Message"
            "404":
                description: Some info not found
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/ErrorResponse"
            "400":
                description: Missing or invalid data
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/ErrorResponse"
            "401":
                description: Missing or invalid token
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/ErrorResponse"
            "500":
                description: Server error
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    Message:
      type: object
      properties:
        id:
          type: integer
        chat_id:
          type: integer
        sender_id:
          type: integer
        timestamp:
            type: integer
        text:
            type: string
        local_id:
            type: string
      required:
        - id
        - chat_id
        - sender_id
        - timestamp
        - text
        - local_id
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

