Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: All
SpacesInAngles: false
BinPackArguments: false
BinPackParameters: false
PointerAlignment: Left
DerivePointerAlignment: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
SpacesBeforeTrailingComments: 2
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
SortIncludes: true
IncludeBlocks: Regroup
ReflowComments: true
