[submodule "external/IXWebSocket"]
	path = external/IXWebSocket
	url = https://github.com/machinezone/IXWebSocket.git
[submodule "external/prometheus-cpp"]
    path = external/prometheus-cpp
    url = https://github.com/jupp0r/prometheus-cpp.git
[submodule "external/SimpleAmqpClient"]
	path = external/SimpleAmqpClient
	url = https://github.com/alanxz/SimpleAmqpClient.git
[submodule "external/jwt-cpp"]
	path = external/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "external/libsodium"]
	path = external/libsodium
	url = https://github.com/jedisct1/libsodium

[submodule "external/opentelemetry-cpp"]
	path = external/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
