[submodule "external/IXWebSocket"]
	path = external/IXWebSocket
	url = https://github.com/machinezone/IXWebSocket.git
[submodule "prometheus-cpp"]
	path = prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
[submodule "external/SimpleAmqpClient"]
	path = external/SimpleAmqpClient
	url = https://github.com/alanxz/SimpleAmqpClient.git
[submodule "external/crow"]
	path = external/crow
	url = https://github.com/CrowCp/crow.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/jwt-cpp"]
	path = external/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "external/prometheus-cpp"]
	path = external/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
[submodule "external/rabbitmq-c"]
	path = external/rabbitmq-c
	url = https://github.com/alanxz/rabbitmq-c.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
