build/
CMakeFiles/
CMakeCache.txt
Makefile
*.o
*.obj
*.a
*.so
*.dll
*.exe
*.app
*_autogen/
*.sh
*.info
*.user
*.autosave
*.pro.user
*.qbs.user
*.qmlproject.user
CMakeLists.txt.user
.idea/
.vscode/
.DS_Store
Thumbs.db
*.swp
*.tmp
keys/private.pem
keys/*.key
secrets/*.pem
secrets/*.key
.qt
*.qrc
*.jpeg
.clang-tidy
.clang-format
.clang-tidy.save
