build/
data/
Testing/
CMakeFiles/
CMakeCache.txt
Makefile
*.o
*.obj
*.a
*.so
*.dll
*.exe
*.app
*_autogen/
*.sh
*.info
*.log
*.info
*.sh
*.user
*.autosave
*.pro.user
*.qbs.user
*.qmlproject.user
CMakeLists.txt.user
.idea/
.vscode/
.DS_Store
Thumbs.db
*.swp
*.tmp
keys/private.pem
.qt/
*.qrc
*.jpeg
.clang-tidy
.clang-format
.clang-tidy.save

vcpkg_installed/
external/vcpkg_installed/
external/vcpkg/buildtrees/
external/vcpkg/packages/
