version: "3.9"
services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  authservice:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        TARGET: AuthService
    depends_on:
      - redis
      - rabbitmq
    ports:
      - "8083:8083"

  gateway:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        TARGET: Gateway
    depends_on:
      - redis
      - rabbitmq
    ports:
      - "8084:8084"

  notificationservice:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        TARGET: NotificationService
    depends_on:
      - redis
      - rabbitmq
    ports:
      - "8086:8086"

  chatservice:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        TARGET: ChatService
    depends_on:
      - redis
      - rabbitmq
    ports:
      - "8081:8081"

  messageservice:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        TARGET: MessageService
    depends_on:
      - redis
      - rabbitmq
    ports:
      - "8082:8082"
