[sources.cpp_logs]
type = "file"
include = ["logs/*.log", "logs/*.log.*"]
read_from = "beginning"
data_dir = "vector_data"

[sinks.loki_out]
type = "loki"
inputs = ["cpp_logs"]
endpoint = "http://localhost:3100"
encoding.codec = "json"
labels = { job="my_cpp_service", host="${HOSTNAME}" }
