name: SonarCloud Analysis

on:
  push: [main]

jobs:
  build-and-test:
    runs-on: macos-latest
    env:
      CC: clang
      CXX: clang++
      CCACHE_DIR: ${{ github.workspace }}/.ccache
      CCACHE_MAXSIZE: 500M
      VCPKG_DEFAULT_TRIPLET: arm64-osx
      BUILD_WRAPPER_OUT_DIR: build_wrapper_output_directory

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: hendrikmuhs/ccache-action@v1
        with:
          key: ${{ runner.os }}-build-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-build-
          max-size: 500M

      - name: Install Xcode CLI tools
        run: xcode-select --install || true

      - name: Install system dependencies
        run: |
          set -eux
          brew update
          brew install cmake ninja autoconf autoconf-archive automake libtool ccache lcov clang-format rabbitmq-c wget unzip gcovr sonar-scanner
      - name: Remove Homebrew protobuf (force vcpkg)
        run: |
          brew uninstall --ignore-dependencies protobuf || true

      - name: Bootstrap vcpkg
        run: ./external/vcpkg/bootstrap-vcpkg.sh -disableMetrics

      - name: Cache vcpkg binaries
        uses: actions/cache@v4
        with:
          path: vcpkg-cache
          key: vcpkg-${{ runner.os }}-${{ env.VCPKG_DEFAULT_TRIPLET }}
          restore-keys: |
            vcpkg-${{ runner.os }}-${{ env.VCPKG_DEFAULT_TRIPLET }}
      - name: Setup vcpkg binary cache
        run: echo "VCPKG_BINARY_SOURCES=clear;files,${{ github.workspace }}/vcpkg-cache,readwrite" >> $GITHUB_ENV

      - name: Install Build Wrapper
        uses: SonarSource/sonarqube-scan-action/install-build-wrapper@v4

      - name: Configure CMake
        run: |
          rm -rf build
          cmake -S . -B build -G Ninja \
            -DCMAKE_BUILD_TYPE=Debug \
            -DCMAKE_OSX_ARCHITECTURES=arm64 \
            -DENABLE_COVERAGE=ON \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
            -DCMAKE_TOOLCHAIN_FILE=$PWD/external/vcpkg/scripts/buildsystems/vcpkg.cmake \
            -DVCPKG_TARGET_TRIPLET=arm64-osx \
            -DTRACY_ENABLE=ON \
            -DENABLE_WARNINGS=OFF \
            -DENABLE_CLANG_TIDY=OFF \
            -DENABLE_CLANG_FORMAT=OFF \
            -DENABLE_IWYU=OFF \
            -Wno-dev
      - name: Build project with Build Wrapper
        run: |
          build-wrapper-macosx-x86 --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} cmake --build build/ --config Release
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v4
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            --define sonar.cfamily.compile-commands="${{ env.BUILD_WRAPPER_OUT_DIR }}/compile_commands.json"
